<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="com.bsb.test/src/test/java/Testcase.java">
        <classes>
            <class name="Testcase">
                <methods>
                    <include name="leftswipe"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
